<% include top %>
<div class="container-fluid">
    <input type="text">
    <input type="text">
    <input type="button" onclick="test()" value="加号">
</div>
</body>
<% include footer %>
<script>

</script>
</html>