<% include top %>
<div class="container-fluid" ng-controller="qinziController">
    <div class ="row">
        <%include left%>
        <div class="maicontent col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">类别列表</div>
                    <table class="table">
                        <tr>
                            <th>序号</th>
                            <th>类别名称</th>
                            <th>位置</th>
                            <th>描述</th>
                            <th>大小类型</th>
                            <th>类别方图</th>
                            <th>类别宽图</th>
                            <th>删除</th>
                        </tr>
                        <tr ng-repeat="data in tabledata">
                            <td>{{data.index}}</td>
                            <td data-toggle="modal" data-target="#editmodal" ng-click="geteditdata(data)" ><a>{{data.categoryname}}</a></td>
                            <td>{{data.location}}</td>
                            <td>{{data.categorydescribe}}</td>
                            <td>{{data.categorytype}}</td>
                            <td>{{data.picURL}}</td>
                            <td>{{data.widepicURL}}</td>
                            <td><button type="button" class="glyphicon glyphicon-minus pull-right" ng-click="delcategory(data.categoryid)"></button></td>
                        </tr>
                    </table>
                    <div>
                        <button type="button" class="glyphicon glyphicon-plus pull-right " data-toggle="modal" data-target="#myModal"></button>
                    </div>

                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <p>类别信息.</p>
                                    类别名称:<input type="text" class="form-control" ng-model="category.categoryname"  required>
                                    类别位置:<input type="text" class="form-control" ng-model="category.location"  required>
                                    描述:<input type="text"  class="form-control" ng-model="category.categorydescribe" required>
                                    大小类型:<input type="text" class="form-control" ng-model="category.categorytype" required>
                                    类别方图:<input type="text" id="picURL1" class="form-control" ng-model="category.picURL" required>
                                    <a href="javascript:;" onclick="moxman.browse({view: 'thumbs', fields: 'picURL1', extensions:'jpg,gif,png'});" class="btn">Pick file</a>
                                    <br>
                                    类别宽图:<input type="text" id="widepicURL1" class="form-control" ng-model="category.widepicURL" >
                                    <a href="javascript:;" onclick="moxman.browse({view: 'thumbs', fields: 'widepicURL1', extensions:'jpg,gif,png'});" class="btn">Pick file</a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" ng-click="addcategory()" data-dismiss="modal" >Add</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="editmodal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <p>类别信息.</p>
                                    类别名称:<input type="text" class="form-control" ng-model="ecategory.categoryname"  required>
                                    类别位置:<input type="text" class="form-control" ng-model="ecategory.location"  required>
                                    描述:<input type="text"  class="form-control" ng-model="ecategory.categorydescribe" required>
                                    大小类型:<input type="text" class="form-control" ng-model="ecategory.categorytype" required>
                                    类别方图:<input type="text" id="picURL" class="form-control" ng-model="ecategory.picURL" required>
                                    <a href="javascript:;" onclick="moxman.browse({view: 'thumbs', fields: 'picURL', extensions:'jpg,gif,png'});" class="btn">Pick file</a>
                                    <br>
                                    类别宽图:<input type="text" id="widepicURL" class="form-control" ng-model="ecategory.widepicURL" >
                                    <a href="javascript:;" onclick="moxman.browse({view: 'thumbs', fields: 'widepicURL', extensions:'jpg,gif,png'});" class="btn">Pick file</a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" ng-click="editcategory()" data-dismiss="modal" >edit</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    app.controller('qinziController',function($scope,$http){
        getCateGory();
        function getCateGory(){
            $http({
                url:"/back/getallcategory",
                method:"GET"
            }).success(function(resObj){
                $scope.tabledata=resObj;
            })
        }

        $scope.geteditdata =function(data){
            $scope.ecategory=data;
            var category=$scope.ecategory;
            category.categorydescribe=data.describe;
        }


        $scope.editcategory = function(){
            var category=$scope.ecategory;
            $http({
                url:"/back/editcategory",
                method:"POST",
                data:category
            }).success(function(resObj){
                $scope.tabledata=resObj;
            })
        }

        $scope.addcategory = function () {
            var category=$scope.category;
            $http({
                url:"/back/addcategory",
                method:"POST",
                data:category
            }).success(function(resObj){
                $scope.tabledata=resObj;
            })
        }

        $scope.delcategory = function (categoryid) {
            var category={};
            category.categoryid=categoryid;
            $http({
                url:"/back/delcategory",
                method:"POST",
                data:category
            }).success(function(resObj){
                $scope.tabledata=resObj;
            })
        }

    })
</script>
</html>
