<% include top %>
<div class="container-fluid" ng-controller="qinziController">
    <div class="row">
        <% include left %>
        <div class="maicontent col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <h3>管理会员活动图片</h3>
            <div>
                <button type="button" class=" btn btn-lg btn-primary" ng-click="managerImg()">管理会员活动图片</button>
            </div>
            <input type="hidden" id="actionid" value="<%= actionid %>">
            <div ng-repeat="pic in pics">
                <div class="col-sm-4">
                    <img src="{{pic.url}}">
                    {{pic.actionpicnum}}
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        $('.date').datepicker({
            dateFormat: "yy-mm-dd"
        });
    });

    app.controller('qinziController', function ($scope, $http) {
        var actionid = $('#actionid').val();
        console.log(actionid);
        $scope.managerImg =function(){
            alert("asd");
            var data={}
            data.pics=[];
            moxman.browse({
                oninsert: function(args) {
                    console.log(args);
                    console.log(args.files);
                    var files=args.files;
                    for(var i in files){
                        var pic={};
                        console.log(i);
                        console.log(files[i]);
                        pic.actionid=actionid;
                        pic.picURL=files[i].url;
                        data.pics.push(pic);
                    }
                    console.log(data);
                    $http({
                        url:"/back/addactionpic",
                        method:"post",
                        data:data
                    }).success(function(resObj){
                        $scope.pics=resObj;
                        console.log(args.files);
                    })


                }
            });
        }

    })
</script>
</html>
