<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">Magictavern.com.</p>
        <p class="text-muted text-center">contact@magictavern.com</p>
    </div>
</footer>