<% include top %>
<div class="container-fluid" ng-controller="qinziController">
    <div class ="row">
        <%include left%>
        <div class="maicontent col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">商品列表</div>
                    <table class="table">
                        <tr>
                            <th data-field="index">序号</th>
                            <th data-field="name" >商品名称</th>
                        </tr>
                        <tr ng-repeat="data in tabledata">
                            <td>{{data.index}}</td>
                            <td><a href="/back/toeditgoods?goodsid={{data.goodsid}}">{{data.name}}</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    function indexFormatter(value, row, index) {
        return index;
    }
    app.controller('qinziController',function($scope,$http){
    getGoods();
        function getGoods(){
            $http({
                url:"/back/getallgoods",
                method:"GET"
            }).success(function(resObj){
                $scope.tabledata=resObj;
            })
        }

    })
</script>
</html>
