<% include top %>
<div class="container-fluid">
    <div class="row">
        <% include left %>
        <div class="maicontent col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class=" jumbotron text-center">
                <div class="container">
                    <h1>     后台录入系统</h1>
                    <p>      欢迎登陆QINZI后台系统~~~~~~</p>
                    <p class="text-right"><a class="btn btn-primary btn-lg" role="button" href="etlCal">
                            戳我</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<% include footer %>
<script>
</script>
</html>