<% include top %>
<div class="container-fluid">
    <div class="row">
        <% include left %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>     后台录入系统</h1>
                <p>      欢迎登陆QINZI后台系统~~~~~~</p>
                <p class="text-right"><a class="btn btn-primary btn-lg" role="button" href="etlCal">
                        戳我</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
<% include footer %>
<script>


</script>
</html>