<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <div class="panel-group" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                    <h3 class="panel-title">
                        <a class="" role="button" data-toggle="collapse" href="#collapseListGroup1"
                           aria-expanded="false" aria-controls="collapseListGroup1">
                            <span class="glyphicon glyphicon-th"></span>数据管理
                        </a>
                    </h3>
                </div>
                <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/back/allgoodspage">商品管理</a></li>
                    </ul>
                </div>
                <div id="collapseListGroup2" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="collapseListGroupHeading2" aria-expanded="true">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/back/alluserpage">用户管理</a></li>
                    </ul>
                </div>
                <div id="collapseListGroup3" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="collapseListGroupHeading3" aria-expanded="true">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/back/allquestionpage">问卷管理</a></li>
                    </ul>
                </div>
                <div id="collapseListGroup4" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="collapseListGroupHeading4" aria-expanded="true">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/back/getallactions">会员活动管理</a></li>
                    </ul>
                </div>
                <div id="collapseListGroup4" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="collapseListGroupHeading4" aria-expanded="true">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/sql">数据查询</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </ul>
</div>