<% include top %>
<div class="container-fluid" ng-controller="qinziController">
    <div class ="row">
        <%include left%>
        <div class="maincontent col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">会员活动列表</div>
                    <table class="table">
                        <tr>
                            <th data-field="index">序号</th>
                            <th data-field="actionname" >活动名称</th>
                            <th data-field="describe" >活动描述</th>
                            <th data-field="widepicURL" >活动图</th>
                            <th data-field="time" >时间</th>
                            <th data-field="isdel">是否展示</th>
                        </tr>
                        <tr ng-repeat="data in tabledata">
                            <td>{{data.index}}</td>
                            <td><a href="/back/toeditaction?actionid={{data.actionid}}">{{data.actionname}}</a></td>
                            <td>{{data.describe}}</td>
                            <td>{{data.widepicURL}}</td>
                            <td>{{data.time}}</td>
                            <td>
                                <button ng-click="nodisplayAction(data.actionid)" ng-if="data.isdel==1">取消展示</button>
                                <button ng-click="displayAction(data.actionid)" ng-if="data.isdel==2">展示</button>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <button type="button" class="glyphicon glyphicon-plus pull-right " data-toggle="modal" data-target="#myModal"></button>
                    </div>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">新品牌</h4>
                                </div>
                                <div class="modal-body">
                                    <p>活动信息.</p>
                                    活动名称:<input type="text" class="form-control" ng-model="action.name"  required>
                                    活动描述:<input type="text" class="form-control" ng-model="action.describe"  required>
                                    活动图片:<input type="text" id="picURL" class="form-control" ng-model="action.widepicURL" required>
                                    <a href="javascript:;" onclick="moxman.browse({view: 'thumbs', fields: 'widepicURL', extensions:'jpg,gif,png'});" class="btn">Pick file</a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" ng-click="addaction()" data-dismiss="modal" >Add</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    function indexFormatter(value,row,index) {
        return index;
    }
    app.controller('qinziController',function($scope,$http){
        getActions();
        function getActions(){
            $http({
                url:"/back/getactions",
                method:"GET"
            }).success(function(resObj){
                for( var i in resObj){
                    if(resObj[i].actionid==1){
                        resObj.splice(i,1);
                    }
                }
                $scope.tabledata=resObj;
            })
        }

        $scope.addaction = function(){
            var action = $scope.action;
            $http({
                url:"/back/addaction",
                method:"POST",
                data:action
            }).success(function(resObj){
                for( var i in resObj){
                    if(resObj[i].actionid==1){
                        resObj.splice(i,1);
                    }
                }
                $scope.tabledata=resObj;
            })
        }
        //推荐
        $scope.displayAction =function(actionid){
            var data={};
            data.actionid=actionid;
            $http({
                url:"/back/displayaction",
                method:"POST",
                data:data
            }).success(function(resObj){
                for( var i in resObj){
                    if(resObj[i].actionid==1){
                        resObj.splice(i,1);
                    }
                }
                $scope.tabledata=resObj;
            })
        }
        //取消推荐
        $scope.nodisplayAction = function(actionid){
            var data={};
            data.actionid=actionid;
            $http({
                url:"/back/nodisplayaction",
                method:"POST",
                data:data
            }).success(function(resObj){
                for( var i in resObj){
                    if(resObj[i].actionid==1){
                        resObj.splice(i,1);
                    }
                }
                $scope.tabledata=resObj;
            })
        }
    })
</script>
</html>
