<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/images/favicon.ico">
    <title>Qinzi System</title>
    <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/compass.css'/>
    <link rel='stylesheet' href='/components/jquery-ui/themes/base/jquery-ui.min.css'/>
    <link rel="stylesheet" href="/components/highlight/src/styles/default.css">
    <script src="/components/jquery/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/highlight/src/highlight.js"></script>
    <script src="/components/angularjs/angular.min.js"></script>
    <script src="/components/jquery-ui/jquery-ui.min.js"></script>
</head>
<body ng-app="test">
<div class="container-fluid" ng-controller="testController">
    <div class="row">
        <div ng-repeat="question in questions">
            <label>{{question.index}}. {{question.question}}</label>
            <div>
                <div class="">
                    <label class="col-sm-12"><input type="radio" name="{{question.questionid}}">A.{{question.A}}</label>
                    <label class="col-sm-12"><input  type="radio" name="{{question.questionid}}">B.{{question.B}}</label>
                    <label class="col-sm-12"><input  type="radio" name="{{question.questionid}}">C.{{question.C}}</label>
                    <label class="col-sm-12"><input  type="radio" name="{{question.questionid}}">D.{{question.D}}</label>
                    <label class="col-sm-12"><input  type="radio" name="{{question.questionid}}">E.{{question.E}}</label>
                    <label class="col-sm-12">其他<input type="text"></label>
                </div>
            </div>
        </div>
        <div class="col-sm-5 text-center">
            <button type="button"  class=" btn btn-lg btn-success" ng-click="submit()">提交 </button>
        </div>
    </div>
</div>

</body>
</html>
<script>
    var app = angular.module('test', []);
    app.controller('testController', function ($scope, $http) {
        getTestPage();
        function getTestPage(){
            $http({
                url:"/back/getTestPageData",
                method:"GET"
            }).success(function (resObj) {
                for(var i in resObj){
                    resObj[i].index=Number(i)+1;
                }
                $scope.questions = resObj;
            })
        }
    })

</script>