<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ä¸Šè¿°3ä¸ªmetaæ ‡ç­¾*å¿…é¡»*æ”¾åœ¨æœ€å‰é¢ï¼Œä»»ä½•å…¶ä»–å†…å®¹éƒ½*å¿…é¡»*è·Ÿéšå…¶åŽï¼ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/images/favicon.ico">
    <title>Qinzi System</title>
    <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/compass.css'/>
    <link rel='stylesheet' href='/components/jquery-ui/themes/base/jquery-ui.min.css'/>
    <link rel="stylesheet" href="/components/highlight/src/styles/default.css">
    <link type="text/css" rel="stylesheet" href="/components/tinymce/plugins/moxiemanager/skins/lightgray/skin.min.css">
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>-->
    <script src="/components/highlight/src/highlight.js"></script>
    <script src="/components/angularjs/angular.min.js"></script>
    <script src="/components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/components/tinymce/tinymce.js"></script>
    <script type="text/javascript" src="/moxiemanager/plugin.min.js"></script>
    <script src="/components/tinymce/plugins/moxiemanager/js/moxman.api.min.js"></script>
    <script type="text/javascript" src="/javascripts/moment.min.js"></script>
    <script type="text/javascript" src="/javascripts/sql.js"></script>


</head>
<body ng-app="qinzi">
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="topController">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-magnet"></span> Qinzi System
            </a>
            <!--å‘å·¦å¯¹é½-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ç™»é™†ç”¨æˆ·:{{session.info.name}}</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="quit()">ç™»å‡º</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="ðŸ”æœç´¢...">
            </form>
        </div>
    </div>
</nav>
<script>
    var app = angular.module('qinzi', []);
    app.controller('topController', function($scope, $http) {
        getSession();

        $scope.quit = function(){
            $http({
                url: '/login/quit',
                method: "POST"
            }).success(function(resObj){
                window.location.href = '/login';
            });
        }

        function getSession(){
            $http({
                url: '/login/getSession',
                method: "GET"
            }).success(function(resObj){
                console.log(resObj);
                $scope.session = resObj;
                if(resObj.appName == null){
                    $scope.gameSel = '';
                }else{
                    $scope.gameSel = resObj.appName;
                }
                if(resObj.info.name == 'root'){
                    $scope.root = true;
                }else{
                    $scope.root = false;
                }
            });
        }

    });
</script>